


body {
  color: #434545;
  background: #b2cecf;
}

header {
  width: 100%;
  margin: 0 auto;
}

#slider {
  width: 100%;
  min-width: 300px;
  height: 450px;
  display: block;
}

.wrap {
  width: 80%;
  margin:0 auto;
  margin-top: 50px;
}

.content {
  text-align:block;
  width: 70%;
  float: right;
  background:#DFE8EB;
  text-indent: 10px;
}

.sidebar {
  color: #50d07d;
  width: 30%;
  float: left;
}

h1 {
  color: #434545;
  font-size: 50px;
  text-indent: 25px;
}

.maintext {
  margin: 10px 20px;
}

li {
  list-style-type: none;
  padding-left: 18px;
}